* {
    font-family: "Montserrat", sans-serif;
}

.img-filter {
    filter: grayscale(0) !important;
    transition: filter 0.3s ease-in-out !important;
}

a:hover .img-filter {
    filter: grayscale(100%) !important;
}

a:hover .fa-link {
    color: rgb(161, 161, 255) !important;
    transition: color 0.3s ease-in-out;
}
